
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
     line-height: 60px;
     background-color: #eeeeee;
 }

.main {
  padding-top: 50px;
  padding-bottom: 50px
}

.navbar-brand {
    padding-left: 20px;
}

